* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
  background: #ced8ff;
}

body {
  background: url("./assets/Background_img.png") no-repeat center center fixed;
}
